---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
		<title>Hero's Journey</title>
	</head>
	<body class="pattern-boxes pattern-pmd pattern-bg-pm pattern-size-4 pattern-opacity-100">
   <div class="flex justify-center">
      <div class="flex align-middle max-width-[70rem] justify-center flex-col">
         <div class="bg-white rounded-3xl">
		   <h1 class="text-center text-[4rem] mt-16 font-bold railway blue text-bs">My Band Journey</h1>
         <h1 class="text-center text-2xl mt-4 text-bsl font-bold mb-16 ">By Jack Saenz</h1>
         </div>

         <div class="flex flex-col ml-[3rem] mr-[3rem]">
            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Call to Adventure</h1>
                  <p class="m-[1rem]">
                     The call to adventure came when I was heading into my first year of middle school.
                     I had to select which electives I wanted to take for the following school year
                     but I was having difficulties picking between band, orchestra, or theater. I knew I wanted
                     to do one of the three because either my friends were doing it, or I thought it 
                     might be something that I want to pursue. The adventure itself would come from choosing
                     band.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Refusal of the Call</h1>
                  <p class="m-[1rem]">
                     As my 5th-grade year drew to a close I realized that I,
                     at the time, wanted to become an actor, and so I decided that choosing 
                     theater as my elective for the 6th-grade year would be a wise decision.
                     However, as the deadline to make changes approached, I started to hear
                     my friends talking about joining band. I started to realize that if I 
                     went into theater I would be leaving most of my friends behind and
                     missing out on all the activities band had to offer in high school. So, I 
                     decided to switch my elective to band in the final moments.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Supernatural Aid</h1>
                  <p class="m-[1rem]">
                     Over the summer, my doubts from the distant school year continued to plague
                     my mind. Was choosing really the best choice for me? Finally, some 
                     insight would come to me in a conversation with my brother, who had played 
                     trombone in middle/high school. He told me all about the fun that he had 
                     when he was in band and the memories he had made. He told me that nothing 
                     really matters in middle school anyway and that I should just choose what 
                     makes me happy. Our discussion helped suppress the remaining doubts in my 
                     mind, and I was happy to know that I could rely on my brother for advice.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Crossing the Threshold</h1>
                  <p class="m-[1rem]">
                     As the summer dwindled to its conclusion, we were invited to go to the 
                     Smith Band Hall to pick out our instruments for the following 
                     year. With minimal thought, I decided to pick the trumpet; not realizing
                     the profound impact it would have on my life.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Belly of the Whale</h1>
                  <p class="m-[1rem]">
                     The school year had fully picked up, however, in band we had yet to even
                     look at our instruments. We were still learning the basics of how to read 
                     music, so we would be prepared for when the day arrived. When it finally 
                     came and I played my trumpet for the first time, I knew I was in for a 
                     wild ride.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Road of Trials</h1>
                  <p class="m-[1rem]">
                     Throughout middle school band threw a lot of responsibilities at me: I had 
                     to practice my trumpet every day and make sure I was ready for concerts and 
                     competitions. There were sometimes when I thought that I would rather quit, 
                     and take the easy way out than have to put up with all of the work. However 
                     I kept my head held high and ultimately persevered, as I headed toward 
                     high school band.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Meeting with the Goddess</h1>
                  <p class="m-[1rem]">
                     My middle school journey had finally come to an end, and as I moved towards
                     high school I discovered the wonderful world of marching band. Although it 
                     was more taxing than middle school band, by a long shot, it was also much 
                     more rewarding. I didn't have to practice as much, since we didn't have 
                     practice logs like in middle school, and I was able to find a healthy 
                     band-school balance. I had reached the peak of band.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Temptation</h1>
                  <p class="m-[1rem]">
                     Although having the freedom to pursue things that aren't band was 
                     envigorating, it did lead me to let band fall to the wayside. Since 
                     the directors were no longer holding me accountable to practice, I 
                     started to neglect my good practice habits. I began to procrastinate 
                     more on my band assignments, and I saw my engagement in band decline.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Atonment with the Father</h1>
                  <p class="m-[1rem]">
                     My lack of practice had started spilling into my performance on the 
                     marching field. I had begun to neglect my previous attitude of constantly 
                     trying my best, instead I simply let "okay" slide. It all culminated 
                     when I got directly called out by one of the directors for not pulling 
                     my weight in a certain set. It made me realize that I couldn't just float 
                     along forever.
                  </p>
               </div>
            </div>


            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Apostasis</h1>
                  <p class="m-[1rem]">
                     Although getting called out by the directors put a damper on 
                     my spirit, it ultimately wasn't enough to get me fully back in line. That 
                     moment came when I was told that I would have to share a spot with someone 
                     else. It shattered my world, as the shared spot meant I would have to fight 
                     to be selected for each performance. It was exactly the kind of wake-up call 
                     I needed.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">The Ultimate Boon</h1>
                  <p class="m-[1rem]">
                     Finally, the conclusion of my first marching season rolled around,
                     the State Marching Band Competition. I had been anxiously awaiting this 
                     day since the season began, as it would mark my first time performing for 
                     such a large audience. However given my shared spot I wasn't sure if I 
                     would even be selected to perform, luckily, when the time came, I was 
                     selected. Going out into the Alamomodome and being seen by thousands of 
                     people was an experience like no other. It showed me that I really could 
                     do big things no matter what I ended up doing in life.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Refusal of Return</h1>
                  <p class="m-[1rem]">
                     When we got back from San Antonio, it felt like getting hit by a bus. That 
                     feeling when you get back from a trip, and everything feels so mundane in 
                     comparison, had fully taken over my thoughts. All I wanted to do was get 
                     back on the marching field, to feel that feeling once more.
                  </p>
               </div>
            </div>

            <div class="flex justify-end mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Crossing the Return Threshold</h1>
                  <p class="m-[1rem]">
                     Eventually, though, things returned to normal and I accepted that I couldn't 
                     always be performing. I started to see all the good that could come from 
                     not having marching band anymore: I got a lot of my time back, I could delve 
                     back into concert season, and I no longer had to work to exhaustion every day.
                     It felt good to be back.
                  </p>
               </div>
            </div>

            <div class="flex justify-start mb-[2rem]">
               <div class="bg-as rounded-3xl border-hg border-[3px] border-dashed">
                  <h1 class="box-header">Master of Two Worlds</h1>
                  <p class="m-[1rem]">
                     After a long break, the marching season approached once again. I went through 
                     band camp in the same way I had last year, although with some more 
                     advanced knowledge. However, when the school year kicked off again I 
                     made a comitment to myself to balance my practice and my school. I went 
                     on to keep my spot and my grades, marking a huge improvement from last 
                     year.
                  </p>
               </div>
            </div>

         </div>

		   <h1 class="text-center text-[4rem] mt-16 mb-16 font-bold railway blue text-bs">The End</h1>
      </div>
   </div>
	</body>
</html>

<style>
   .railway {
      font-family: 'Railway', sans-serif;
   }

   .box-header {
      color: #be4b4d;
      font-family: 'Railway', sans-serif;
      font-weight: 700;
      margin: 1rem;
      font-size: 2rem;
      text-align: left;
      text-decoration: underline;
   }

   p {
      color: #3a3042;
      margin: 1rem;
      font-size: 1.2rem;
      max-width: 40rem;
   }
</style>
